.tfhb-setup-wizard-body #wpadminbar,
.tfhb-setup-wizard-body #adminmenuwrap,
.tfhb-setup-wizard-body #adminmenuback,
.tfhb-setup-wizard-body #wpfooter {
    display: none;
}


.tfhb-setup-wizard-body #wpcontent {
    margin-left: 0;
    padding: 0;
}

.tfhb-setup-wizard-body #wpbody-content,
.tfhb-admin-app {
    padding: 0;
}
.tfhb-setup-wizard-body #tfhb-admin-app {
    margin-top: 0 !important; 
}
 
.tfhb-dashboard-section-wrap {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  margin-right: 16px;
}
.tfhb-dashboard-wrap {
  width: calc(100% - 446px);
}
.tfhb-dashboard-sidebar {
  width: 422px;
}

.tfhb-sidebar-wrap{
    .tfhb-sidebar-content {
        .tfhb-plugin-lists{
            border-radius: 8px;
            background: #F8F7FD;
            padding: 16px;
            margin-top: 15px;
            h3{
                color: #06040C;
                font-size: 17px !important;
                font-weight: 600 !important;
                line-height: 150% !important;
                margin: 0 0 16px 0 !important;
            }
            ul{
                display: grid;
                grid-template-columns: 1fr;
                gap: 16px;
                margin: 0;
            }
        }
    }
    .tfhb-plugin-item { 
        border-radius: 6px;
        background: #FFF;
        box-shadow: 0 1px 4px 0 rgba(44, 39, 63, 0.01), 0 2px 2px 0 rgba(44, 39, 63, 0.02), 0 1px 1px 0 rgba(44, 39, 63, 0.04);

        padding: 20px 24px 24px 20px; 
        transition: all ease-in-out 0.3s;
        margin-bottom: 0;
        position: relative;

        &.featured {
            border-radius: 6px;
            border: 4px solid transparent;
            background: linear-gradient(white, white) padding-box, 
                        linear-gradient(90deg, #489355 0%, #B8FC81 100%) border-box;
            box-shadow: 0px 1px 4px 0px rgba(44, 39, 63, 0.01),
                        0px 2px 2px 0px rgba(44, 39, 63, 0.02),
                        0px 1px 1px 0px rgba(44, 39, 63, 0.04);
            box-sizing: border-box;
        }
    }
    .tfhb-plugin-info-wrapper{
        .tfhb-plugin-content{
            display: flex;
            gap: 12px;
            justify-content: space-between;
            .tfhb-plugin-image{
                border-radius: 16px;
                background: #FFF;
                box-shadow: 0 0 8px 0 rgba(65, 65, 65, 0.08);
                height: 56px;
                width: 56px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 32px;
                    height: 32px;
                }
            }
            .tfhb-plugin-title{
                width: calc(100% - 167px);
                h4 {
                    color: #2C273F;
                    font-size: 15px !important;
                    font-weight: 600 !important;
                    line-height: 24px !important;
                    margin: 0 0 2px 0 !important;
                    .badge.free {
                        border-radius: 3px !important;
                        background: #E6FAEE;
                        font-size: 12px !important;
                        padding: 2px 8px !important;
                        color: #17723F !important;
                        font-size: 11px !important;
                        font-weight: 600 !important;
                        line-height: 16px !important;
                        text-transform: uppercase;
                        margin-left: 6px !important;
                    }
                }
                p {
                    color: #5D5676;
                    font-size: 14px !important;
                    font-weight: 400 !important;
                    line-height: 24px !important;
                    margin: 0 !important;
                }
            }
            .tfhb-plugin-btn{
                font-weight: 600 !important;
                .tfhb-plugin-button { 
                    padding: 0px !important;
                    color: #382673 !important;
                    font-size: 15px !important;
                    font-weight: 500 !important;
                    line-height: 24px !important;
                    margin: 0px !important;

                    text-decoration: none;
                    position: relative;
                    &.install{
                        color: #382673 !important;
                        cursor: pointer !important;
                    }
                    &.activate {
                        color: #382673 !important;
                        cursor: pointer !important;
                    }
                    &.pro,
                    &.activate-pro{
                        color: #ff9800 !important;
                    }
                    &.activate-pro{
                        color: #ff5722 !important;
                        cursor: pointer !important;
                    }
                }

                .tfhb-plugin-status {
                    &.active{
                        color: #2E6B38 !important;
                    }
                    &.active-pro {
                        color: #ff5722 !important;
                    }
                }
            }
        }
    }
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    /* Loader */
    .tfhb-plugin-button:not(.active):not(.active-pro) {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background 0.3s;
        position: relative;
        background-color: transparent;
        gap: 3px;
    }

    .tfhb-plugin-button.loading {
        background: #ccc;
        cursor: not-allowed;
    }

    .loader {
        display: none;
        width: 12px;
        height: 12px;
        border: 2px solid #2E6B38;
        border-top: 2px solid transparent;
        border-radius: 50%;
        animation: spin 0.6s linear infinite;
        margin-left: 8px !important;
        margin-top: 12px !important;
        margin-bottom: 0px !important;
    }

    .tfhb-plugin-button.loading .loader {
        display: inline-block;
    }


    /* Customization */
    .tfhb-customization-quote{
        background: #F8F7FD;
        padding: 16px;
        border-radius: 6px;
        margin: 16px 0 16px 0;

        .tfhb-quote-content{

            h3 {
                margin: 0 0 4px 0 !important;
                color: #1B334B;
                font-size: 18px !important;
                font-weight: 700 !important;
                line-height: 150% !important;
            }
            p{
                color: #344D65;
                font-size: 14px !important;
                font-weight: 400 !important;
                line-height: 150% !important;
                margin: 0 0 16px 0 !important;
            }

            a{
                color: #FFF;
                font-size: 15px !important;
                font-weight: 600 !important;
                line-height: 24px !important;
                text-decoration: none;
                border-radius: 8px !important;
                background: #2E6B38 !important;
                padding: 8px 16px !important;
                display: inline-flex;
                align-items: center;
                gap: 8px;
            }
        }
    }

    .tfhb-quick-access {
        background: #F8F7FD;
        border-radius: 8px;
        padding: 16px;
        margin-bottom: 16px;
        h3 {
            color: #06040C;
            font-size: 17px !important;
            font-weight: 600 !important;
            line-height: 150% !important;
            margin-bottom: 16px !important;
            margin-top: 0px !important;
        }
        .tfhb-quick-access-wrapper{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            flex-direction: column;

            .tfhb-access-item {
                background: #FFF;
                box-shadow: 0 1px 4px 0 rgba(44, 39, 63, 0.01), 0 2px 2px 0 rgba(44, 39, 63, 0.02), 0 1px 1px 0 rgba(44, 39, 63, 0.04);
                border-radius: 6px;
                transition: all ease-in-out 0.3s;
                width: 100%;

                a {
                    display: flex;
                    align-items: center;
                    padding: 12px 16px !important;
                    text-decoration: none;
                    color: #2C273F !important;
                    font-size: 15px !important;
                    font-weight: 600 !important;
                    line-height: 24px !important;
                    gap: 12px;
                }
            }
        }
    }
}

@media screen and (max-width: 1484px) { 
    .tfhb-admin-dashboard .tfhb-dashboard-wrap .tfhb-dashboard-chartbox .tfhb-single-chartbox{
        width: calc(50% - 18px) !important;
    }
}

@media screen and (max-width: 1299px) { 
    .tfhb-dashboard-section-wrap{
        flex-wrap: wrap;
    }
    .tfhb-dashboard-sidebar,
    .tfhb-dashboard-wrap{
        width: 100%;
    }
    .tfhb-dashboard-wrap{
        margin-right: 0px !important;
        .tfhb-dashboard-chartbox {
            justify-content: space-between;
        }
        .tfhb-chart-statistic-wrap{
            min-height: auto !important;
        }
    }
    .tfhb-dashboard-sidebar{
        margin-left: 16px;
    }
}

@media screen and (max-width: 530px) { 
    .tfhb-admin-dashboard .tfhb-dashboard-wrap .tfhb-dashboard-chartbox .tfhb-single-chartbox{
        width: 100% !important;
    }
}